<div class="centered main-button-container">
<%= render partial: "layouts/button" %>
</div>

<div class="alert alert-success" role="alert">
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
</div>


<div class ="container">
  <div class="row nav-row">
      <div class="col-xs-6">
      <%= button_to "Need to Howl", new_howl_path, method: :get, class:"btn btn-primary btn-block center-block" %>
      </div>
      <div class="col-xs-6">
      <%= button_to "See Pack", :wolves, method: :get, class:"btn btn-primary btn-block center-block" %>
      </div>
  </div>
</div>

<div class="howler-text">
  <p>Here are the last five howls from your pack:</p>
</div>

<div class="container profile-container">
  <% @howls.each do |h| %>
  <div class="profile-wrapper">
    <div class="howl-name-picture-container">
      <div class= "col-xs-6 vcenter howl-wolf-name">
        <%= h.wolf.name.titleize %>
      </div>
      <div class="col-xs-6 howl-picture ">
        <img class ="pull-right" src="<%= h.wolf.image %>" alt="">
      </div>
    </div>
    <div class = "col-xs-12">
      <img src="<%= h.image %>" alt="">
    </div>
    <div class = "col-xs-12 howlr-border-line">
      <%= h.text %>
    </div>
    <div>
      <%= link_to"", howl_path(h), :method=>:delete, class:"glyphicon glyphicon-trash" %>
    </div>
  </div>
  <% end %>
</div>

