<h1>Howls</h1>

<%= button_to "Need to Howl", new_howl_path, method: :get %>
<%= button_to "See Pack", :wolves, method: :get %>

<p>Here are the last five howls from your pack:</p>

<% @howls.each do |h| %>
<%= h.wolf.name %>
<img src="<%= h.image %>" alt="">
<%= h.text %>

<% end %>