<%= render partial: "layouts/button" %>


<% if flash[:notice] %>
<p><%= flash[:notice] %></p>
<% end %>
<div class="row">
  <div class= ".col-sm-4 centered">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><%= link_to("Need to Howl", controller: "howls", action: "new") %></li>
      <li role="presentation" class="active"><%= link_to("See Pack", controller: "wolves", action: "index") %></li>
    </ul>
  </div>
</div>

<p>Here are the last five howls from your pack:</p>

<div>
  <ul>
    <% @howls.each do |h| %>
      <li><%= h.wolf.name %></li>
      <li><img src="<%= h.image %>" alt=""></li>
      <li><%= h.text %></li>
      <li>  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Delete Howl</button></li>
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-body">
                <p>Are you sure you want to delete this howl?</p>
              </div>
              <div class="modal-footer">
                <div class="delete-yes">
                  <%= button_to "Yes", howl_path(h), :method=>:delete,  class:"btn btn-default" %>
                </div>
                <div class="delete-cancel">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </ul>
</div>




