<%= render "layouts/button" %>


<%= form_for @howl do |h|%>
<div>
  <%= h.label :what_are_howling %>
  <%= h.text_field :text %>
</div>
<div>
  <%= h.label :post_image%>
  <%= h.text_field :image %>
</div>
<div>
  <%= h.label :who_is_howling%>
  <%= select("howl", "wolf_id", Wolf.all.collect {|w| [ w.name, w.id ] }, {:include_blank => true}) %>
</div>

<div>
  <%= h.submit %>
</div>
<% end %>

