<%= render "layouts/button" %>
<div>
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
</div>

<div>
  <ul>
    <% @wolves.each do |w| %>
      <li><%= w.name %></li>
      <li><img src="<%= w.image %>" alt=""></li>
      <li><%= w.description %></li>
    <% end %>
  </ul>
</div>

<div>
  <%= button_to "NEW PACK MEMBER", new_wolf_path, method: :get %>
</div>