<%= render "layouts/button" %>


<% if @wolf.errors.any? %>
  <ul>
    <% @wolf.errors.full_messages.each do |e| %>
      <li><%= e %></li>
    <% end %>  
  </ul>
<% end %>

<% if flash[:alert] %>
  <div>
    <p><%= flash[:alert] %></p>
  </div>
<% end %>


<%= form_for @wolf do |w|%>
<div>
  <%= w.label :what_is_your_name %>
  <%= w.text_field :name %>
</div>
<div>
  <%= w.label :post_image%>
  <%= w.text_field :image %>
</div>

<div>
  <%= w.label :description%>
  <%= w.text_field :description %>
</div>

<div>
  <%= w.submit "JOIN THE PACK" %>
</div>

<% end %>

<%= button_to "Back", :wolves, method: :get %>