<h1>Create new Wolf</h1>


<%= form_for @wolf do |w|%>
<div>
  <%= w.label :what_is_your_name %>
  <%= w.text_field :name %>
</div>
<div>
  <%= w.label :post_image%>
  <%= w.text_field :image %>
</div>

<div>
  <%= w.label :description%>
  <%= w.text_field :description %>
</div>

<div>
  <%= w.submit %>
</div>

<% end %>

